*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main_div_2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    
}

.main_div_2 li{
    list-style-type: none;
   
}

.div_2{
    width:45% ;
    margin-left: 20px;
    align-items: center;
    margin-top: 30px;
}

.div_2 ul li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    color: gray;
    padding: 4px;
}

.footer_img{
    margin-left: 25px;

  }

@media only screen and (min-width: 1200px) {

    .main_div_2{
        display: flex;
        flex-wrap:nowrap;
        flex-direction: row;
        margin: auto;
        width: 75%;  
    }

    .div_1{
        width: 15%;
        margin-left: 180px;
    }

    .main_div_2  ul{
        margin-top: 10px;
        
    }

    .main_div_2  p{
        font-weight: bold;
    }

  .footer_img{
    margin-left: 15px;

  }


}

