#home{
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color:rgb(26, 25, 25); */
  z-index: 2;
  cursor: pointer;
 
}
 

#sign{
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    
}

#log{
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    
}