*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main_loc{
    display: flex;
    flex-direction: column;
   
}

.loc_1{
    margin: 14px auto;
    width: 80%;
    padding: 8px;
    box-shadow: 0 2px 4px rgb(207, 207, 207);   
}

.loc_1 div{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.loc_1 div span{
    color: gray;
}

.loc_1 div i{
    color: black;
    
}

.loc h1{
    font-size: 15px;
    color: gray;
   text-align: center;
}

@media only screen and (min-width: 1200px) {

    *{
        margin: 0;
        padding: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .main_loc{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 75%;
        margin: auto;  
    }

    .loc_1{
        margin: 14px 10px;
        width: 30%;
        padding: 8px;
        box-shadow: 0 2px 4px rgb(207, 207, 207);   
    }
    
    

}